.stat {
  display: block;
  height: 75px;
  width: 33.33%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.stat:nth-child(2) {
  border-right: 1px solid #e4e9f0;
  border-left: 1px solid #e4e9f0;
}

.label {
  color: #768696;
}

.quantity {
  color: #122236;
  font-weight: bold;
}
