* {
  box-sizing: border-box;
  margin: 0;
}

.transactionHistory {
  width: 700px;
  margin: 40px auto;
}

.thead {
  background-color: turquoise;
  color: white;
}

.trow {
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
}

.trow th {
  width: 33.33%;
}
